#content_bo {
    padding: 3rem;
    background-color: #f7f8f8;
}

#line {
    background-color: #3A3C68;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

#line > h1 {
    color: white;
    margin: 0;
    font-size: 4rem;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

#line > h2 {
    color: white;
    margin: 0;
}

#content {
    background-color: white;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

#content > p {
    margin: 0;
}


#header > a > i {
    margin-left: 5px;
    margin-right: 5px;
}

/* 경고문 */

.i_warning {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #F2827F;
    padding: 1rem;
    color: white;
}

.i_warning > i {
    float: right;
}

.i_warning > h3 {
    font-weight: 700;
}

/* 안내문 */

.i_information {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #7BA4DB;
    padding: 1rem;
    color: white;
}

.i_information > i {
    float: right;
}

.i_information > h3 {
    font-weight: 700;
}

/* 연관 링크 */

.i_link {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #D9D9D6;
    padding: 1rem;
    color: white;
}

.i_link > i {
    float: right;
}

/* 모바일 여백 제거 및 글자 크기 조정 */
@media all and (max-width:479px) {
    #content_bo {
        padding: 0;
        background-color: #f7f8f8;
    }

    #line > h1 {
        font-size: 2.5rem;
    }

    #line {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* 출력 시 가독성 개선 */
@media print {
    #header { display: none; }
    #section { display: none; }
    #content_bo { padding: 0; }
    * {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
    }
}

@page {
    margin: 0;
}